@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat:wght@400;500;700&display=swap");

/* * {
  font-family: font-black-ops-one;
} */
/* CSS */
.header {
  background-color: #000;
  padding: 1rem; /* Equivalent to py-4 */
}

.header h1 {
  font-size: 1.125rem; /* Equivalent to text-lg */
  font-family: "Black Ops One", sans-serif;
  text-align: center;
  color: #fff;
}

.form-container {
  width: 60%; /* Equivalent to w-3/5 */
  margin: auto;
  padding-top: 1.25rem; /* Equivalent to py-5 */
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form h3 {
  font-family: "Black Ops One", sans-serif;
}

.input-field {
  border: 2px solid #000;
  border-radius: 0.375rem; /* Equivalent to rounded-lg */
  padding: 0.2rem 1rem; /* Equivalent to px-2 */
}

.submit-button {
  background-color: #6b7280; /* Equivalent to bg-slate-400 */
  padding: 0.2rem 0.75rem; /* Equivalent to px-3 */
  border-radius: 0.375rem; /* Equivalent to rounded-lg */
  color: #fff;
}
