@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat:wght@400;500;700&display=swap");

/* CSS */

.header {
  background-color: #000;
  padding: 1.5rem;
  height: 10vh;
}

.header h1 {
  font-size: 1.125rem;
  font-family: "Black Ops One", sans-serif;
  text-align: center;
  color: #fff;
}

.form-container {
  width: 60%;
  margin: auto;
  padding-top: 1.25rem;
  height: 10vh;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form h3 {
  font-family: "Black Ops One", sans-serif;
}

.input-field {
  border: 2px solid #000;
  border-radius: 0.375rem;
  padding: 0.2rem 1rem;
}

.submit-button {
  background-color: #6b7280;
  padding: 0.2rem 0.75rem;
  border-radius: 0.375rem;
  color: #fff;
}

.list {
  width: 85%;
  margin: 20px auto;
  height: 55vh;
}

.list-item {
  width: 25%;
  float: left;
  box-sizing: border-box;
  padding: 10px 10px;
  box-sizing: border-box;
  text-align: center;
  list-style: none;
  display: flex;
}

.buttons {
  height: 10vh;
  background-color: #6b7280;
  display: flex;
  justify-content: center;
}

.btn {
  background-color: #000;
  border-radius: 5px;
  margin: 20px;
  color: #fff;
  padding: 7.5px;
}

.stats {
  height: 10vh;
  background-color: #000;
}
